.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--surface);
    border-top: 1px solid var(--border);
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 100;
}

.navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    height: 64px;
}

.navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-muted);
    font-size: 0.75rem;
    gap: 4px;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}

.navItem:hover {
    color: var(--text-main);
    background-color: var(--surface-hover);
}

.active {
    color: var(--primary);
    /* background-color: rgba(139, 92, 246, 0.1); */
}

.active svg {
    /* filter: drop-shadow(0 0 5px var(--primary)); */
}